body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    margin-right: 10px;
}

#nomeSorteado {
    font-size: 30px;
    color: blue;
    margin-top: 20px;
}